<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>The Undecideds</title>
  </head>
  <body>
    <div>
      <div>
      <div class="headerbox">
        <div class="row">
      <div class="header">
        <div class="row">
          <div class="twelve columns"><h1>THE UNDECIDEDS<h1></div>
        </div>
        <div class="row">
           <div class="twelve columns"><h3>Don't know what to watch?<h3></div>
        </div>
      </div><!--CLOSE header-->
    </div>
    </div><!--CLOSE HEADERBOX-->




      {{{body}}}

    </div>

  </body>
</html>
