<div class="bigbox">
<div class="row">
<div class="six columns">
  <h5>Submit a film</h5>
</div>

  <form class="addMovie" action="/addmovie" method="post">
    <input type="search" id="value" name="search">
  </form>




</div>

</div>
