
<div class="bigbox">


<form class="randomise" action="/random" method="post">
  <select id="genreList">
    <option value="All genres" selected>All genres</option>
    {{#each genres}}
    <option value="{{name}}">{{name}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Randomise"/>
</form>


</div>
