<div class="bigbox">
<div class="row">
<div class="six columns">
<h3>Your movie:</h3>
<div>{{title}}</div>
<div>{{year}}</div>
<div>{{blurb}}</div>
</div>
<div class="six columns">
<ul>
  {{#each genres}}
<li>{{name}}</li>
{{/each}}
</ul>
</div>
</div>

</div>
