<div class="bigbox">
<div class="row">
<div class="six columns">
<h3>Your movie:</h3>
<ul>

<li>{{movie.title}}</li>
<li>{{movie.year}}</li>
<li>{{movie.blurb}}</li>

</ul>
</div>
<div class="six columns">
<ul>
  {{#each genres}}
<li>{{name}}</li>
{{/each}}
</ul>
</div>
</div>

</div>
