font-family: 'Ubuntu', sans-serif;


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -box-sizing: border-box;


}

.headerbox{
  width: 85%;
  border-radius: 25px;
  border: 25px solid white;
  padding: 25px;
  margin: 25px;
  text-align: center;
}

.header {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px

}

body {
  font-family: 'Ubuntu', sans-serif;
    background-image: url("https://i.ytimg.com/vi/JvIONJQ54Mw/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.bigbox{
  width: 85%;
  border-radius: 25px;
  border: 25px solid white;
  padding: 25px;
  margin: 25px;
  text-align: center;
}
