font-family: 'Ubuntu', sans-serif;


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -box-sizing: border-box;
}

.header {
  font-family: 'Ubuntu', sans-serif;

}
.allbody{
  font-family: 'Ubuntu', sans-serif;
  color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
